
.form__fieldset {
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    padding: 0 45px;
}

.form__fieldset legend {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    padding: 0 10px;
}

.form__wrapper {
    display: flex;
    flex-direction: column;
}

.form__item {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.form__input {
    width: 100%;
    padding: 10px 0 10px 10px;
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    font-weight: 300;
}

.special-label {
    display: none;
}

.react-tel-input {
    width: 100%;
}

.form-control {
    padding: 10px 0 10px 10px;
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    font-weight: 300;
    width: 100%;
    max-width: 1102px;
}

.form__btn {

}


