
.services {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.services__cart_wrapper {
    width: 250px;
}

.services__wrapper {
    flex-basis: 77%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 15px;
    justify-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.cart {
    display: flex;
    justify-content: center;
}

.cart__wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    box-shadow: 0 0 12px 8px #DDDDDD;
    border-radius: 9px;
    width: 80%;
}

.cart__title {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.cart__title h4 {
    margin: 0;
}

.cart__items {
    margin-bottom: 20px;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart__item:last-child {
    margin-bottom: 0;
}

.cart__text {
    margin: 0 0 6px;
    font-weight: 300;
}

.cart__setting_btn {
    border: none;
    border-radius: 8px;
    color: #fff;
    padding: 8px;
    min-width: 109px;
}

.cart__remove-btn {
    background: #ec1515;
}

.cart__change-btn {
    background: orange;
}

.cart__total {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 0;
}

.cart__btns {
    display: flex;
    justify-content: center;
}

.cart__btn {
    padding: 20px;
    text-decoration: none;
    display: block;
    width: 80%;
    margin: 10px;
}

.cart__back_wrapper {
    display: flex;
    margin-bottom: 15px;
}

.cart__back {
    width: auto;
    padding: 20px;
    font-size: 15px;
    text-decoration: none;
    text-transform: none;
    display: flex;
    align-items: center;
}

.cart__back svg {
    color: black;
    font-size: 27px;
}

.cart__back svg:active {
    color: #ef9b9b;
}

.congrats {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(110, 107, 107)
}

.congrats__wrapper {
    width: 80%;
    max-width: 600px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffff;
    border-radius: 15px;
    animation-name: slide-in;
    animation-duration: 0.5s;
}

.congrats__content h4, .congrats__content h5 {
    margin: 0 0 20px;
    text-transform: uppercase;
    text-align: center;
}

.congrats__content {
    margin-bottom: 20px;
}

.congrats__content span {
    color: #e05959;
    font-weight: 700;
}

.congrats__links-title {
    color: black;
    font-weight: 700;
    font-size: 15px;
    margin: 0 0 5px;
    text-transform: uppercase;
    text-align: center;
}

.congrats__links-title:last-child {
    margin-top: 15px;
}

.congrats__links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.congrats-link {
    display: flex;
    align-items: center;
    color: #e05959;
    text-decoration: none;
}

.congrats-link:nth-of-type(1), .congrats-link:nth-of-type(2) {
    margin-right: 15px;
}

.congrats-link svg {
    margin-left: 5px;
}

.congrats__phone-title {
    margin: 0 0 20px;
}

.congrats__phone {
    margin-left: 5px;
}

.map_link {
    text-decoration: none;
    color: #e05959;
}

.map_link:hover, .congrats-link:hover {
    text-decoration: underline;
}


@keyframes slide-in {
    from {
        transform: translateY(-150px);
    }
    to {
        transform: translateY(0);
    }
}
