@media screen and (max-width: 620px) {
    body {
        font-size: 13px;
    }

    .main {
        padding-top: 190px;
    }
    .header__wrapper, .header__links {
        justify-content: center;
    }

    .logo {
        margin-bottom: 20px;
    }

    .cart__item {
        flex-direction: column;
        align-items: stretch;
    }
    .cart__text {
        margin-bottom: 15px;
    }
    .cart__setting_btn {
        align-self: center;
    }

    .button {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px)  {

    .main {
        padding-top: 250px;
    }
}