.header {
    width: 100%;
    padding: 20px 0;
    background-color: #ef9b9b;
    margin-bottom: 30px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

a {
    margin: 5px 0;
}

/*.logo {*/
/*    margin-bottom: ;*/
/*}*/

.logo a {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    text-align: center;
}

.header__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 10px 15px 10px 0;
}

.header__link:hover {
    transform: scale(0.98);}

.header__link:last-child{
    margin-right: 0;
}

.header__link_cart {
    text-align: center;
}

.icon {
    margin: 0 5px 0 10px;
    vertical-align: bottom;
}

.badge {
    vertical-align: top;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.divider {
    margin: 20px auto;
    width: 100%;
    max-width: 800px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
}

.header__down {
    display: flex;
    justify-content: center;
}

