.header {
    width: 100%;
    padding: 20px 0;
    background-color: #ef9b9b;
    margin-bottom: 30px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

a {
    margin: 5px 0;
}

.logo a {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    text-align: center;
}

.header__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__links a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 10px 5px 10px 0;
}

.header__links a:hover {
    transform: scale(0.98);}

.header__links a:first-child {
    margin-right: 15px;
}

.icon {
    margin: 0 5px 0 10px;
    vertical-align: bottom;
}

.badge {
    vertical-align: top;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}


